<div class="rounded-modal bg-black2">
  <!-- Title -->
  <div
    class="
      pt-[40px]
      pb-[20px]
      px-[80px]
      flex flex-col
      lg:flex-row
      border-b border-black15
    "
  >
    <p class="mr-0 pr-0 lg:mr-4 lg:pr-4 lg:border-r border-black45 page-title">
      Payment
    </p>
    <p
      *ngIf="spaceOrder && spaceOrder.space.title"
      class="page-title text-black65"
    >
      {{ spaceOrder.space.title }}
    </p>
  </div>
  <!-- end of title -->

  <!-- Space order  -->
  <div class="pt-[20px] pb-[40px] px-[80px] flex flex-col lg:flex-row">
    <!-- Left -->
    <div>
      <!-- Items -->
      <div class="max-h-[360px] lg:max-h-[500px] overflow-y-scroll list-items">
        <div
          *ngFor="let item of spaceOrder.items"
          class="
            flex flex-col
            lg:flex-row
            justify-between
            text-black45
            mb-[32px]
          "
        >
          <!-- Image -->
          <div class="text-center">
            <img
              [src]="item.item.image"
              class="inline-block w-[100px] h-[100px] mb-2 lg:mb-0"
            />
          </div>
          <!-- end of image -->
          <!-- Info -->
          <div class="flex flex-col justify-between">
            <!-- Texts -->
            <div class="grid grid-cols-1 lg:grid-cols-2 mb-2 lg:mb-0">
              <div class="px-3">
                <p class="uppercase text-black tracking-wider">
                  <strong>{{ item.item.name }}</strong>
                </p>
                <p>
                  W{{ item.item.sizes.w }} / D{{ item.item.sizes.d }} / H{{
                    item.item.sizes.h
                  }}
                  mm
                </p>
                <p>
                  Monthly Charge: {{ item.item.monthly | currency: "JPY" }} /
                  month
                </p>
              </div>
              <div class="px-3 text-left lg:text-right">
                <p>Price | {{ item.item.price | currency: "JPY" }}</p>
                <p>Tax | {{ item.item.tax | currency: "JPY" }}</p>
              </div>
            </div>
            <!-- end of texts -->
            <!-- Qty & total  -->
            <div class="grid grid-cols-1 lg:grid-cols-2 gap-y-2">
              <div class="px-3 inline-flex items-center">
                <div
                  class="
                    inline-flex
                    items-center
                    border border-black15
                    bg-white
                    rounded-[3px]
                  "
                >
                  <fa-icon
                    class="
                      py-1
                      px-2
                      cursor-pointer
                      hover:bg-black45
                      hover:text-white
                    "
                    [icon]="faMinus"
                  ></fa-icon>
                  <div class="w-[20px] text-center py-1 px-2">
                    <input
                      class="w-full text-center"
                      [(ngModel)]="item.quantity"
                    />
                  </div>
                  <fa-icon
                    class="
                      py-1
                      px-2
                      cursor-pointer
                      hover:bg-black45
                      hover:text-white
                    "
                    [icon]="faPlus"
                  ></fa-icon>
                </div>
                <p
                  class="
                    px-2
                    hover:font-semibold
                    hover:text-main
                    cursor-pointer
                  "
                >
                  <strong>Remove</strong>
                </p>
              </div>
              <div class="px-3 text-left lg:text-right">
                <p>
                  Total |
                  <strong class="text-black">{{
                    item.item.price + item.item.tax | currency: "JPY"
                  }}</strong>
                </p>
              </div>
            </div>
            <!-- end of qty & total -->
          </div>
          <!-- end of info -->
        </div>
      </div>
      <!-- end of items -->
      <!-- Initial payment -->
      <div class="mt-[32px] py-[16px] border-t">
        <p class="uppercase tracking-wider pb-[16px]">
          <strong>Initial Payment</strong>
        </p>

        <div class="flex justify-between items-center pb-2">
          <p class="text-black45">Subtotal excluded</p>
          <p class="tracking-wider">
            <strong>{{
              spaceOrder.payments.initial.subTotal | currency: "JPY"
            }}</strong>
          </p>
        </div>

        <div class="flex justify-between items-center pb-2">
          <p class="text-black45">Tax rate</p>
          <p class="tracking-wider">
            <strong>{{
              spaceOrder.payments.initial.tax | currency: "JPY"
            }}</strong>
          </p>
        </div>

        <div
          class="
            flex
            justify-between
            items-center
            border-t border-dotted border-black15
            py-2
          "
        >
          <p class="text-black45">Total</p>
          <p class="tracking-wider">
            <strong>{{
              spaceOrder.payments.initial.total | currency: "JPY"
            }}</strong>
          </p>
        </div>
      </div>
      <!-- end of initial payment -->
    </div>
    <!-- end of left -->
    <!-- Right -->
    <div class="px-0 lg:pl-8 inline-flex flex-col">
      <!-- Contact -->
      <ng-template [ngIf]="user">
        <div class="py-4 lg:pt-0 border-t lg:border-0 border-black15">
          <div class="flex justify-between items-center mb-3">
            <p class="uppercase tracking-wider"><strong>Contact</strong></p>
            <a [routerLink]="['/home']" class="text-black45 hover:text-main">
              <fa-icon [icon]="faEdit"></fa-icon>
            </a>
          </div>
          <ul class="text-black45">
            <li>
              <p class="uppercase text-black">
                <strong>{{ user.fullname }}</strong>
              </p>
            </li>
            <li>
              <p>{{ user.phoneNumber }}</p>
            </li>
            <li>
              <p>{{ user.email }}</p>
            </li>
          </ul>
        </div>
      </ng-template>
      <!-- end of contact -->
      <!-- Payment method -->
      <ng-template [ngIf]="card">
        <div class="py-4 border-t border-black15">
          <div class="flex justify-between items-center mb-3">
            <p class="uppercase tracking-wider">
              <strong>Payment Method</strong>
            </p>
            <a [routerLink]="['/home']" class="text-black45 hover:text-main">
              <fa-icon [icon]="faEdit"></fa-icon>
            </a>
          </div>

          <div class="text-black45 flex items-center">
            <div class="inline-flex items-center w-[100px] h-[80px]">
              <img [src]="cardImages.visa" *ngIf="card.type == 'visa'" />
              <img [src]="cardImages.master" *ngIf="card.type == 'master'" />
              <img [src]="cardImages.jcb" *ngIf="card.type == 'jcb'" />
            </div>
            <div class="px-4">
              <p class="uppercase text-black">
                <strong>{{ card.holder }}</strong>
              </p>
              <p>XXXX-XXXX-XXXX-{{ card.last4 }}</p>
              <p>Expired at {{ card.expire.year }}/{{ card.expire.month }}</p>
            </div>
          </div>
        </div>
      </ng-template>
      <!-- end of payment method -->
      <!-- Monthly payment -->
      <div class="grow order-first lg:order-3 py-4 border-t border-black15">
        <p class="uppercase tracking-wider pb-[16px]">
          <strong>Monthly Payment</strong>
        </p>
        <div class="grid grid-cols-2 mb-2">
          <p class="text-black45">Subtotal excluded</p>
          <p class="text-right">
            <strong>{{
              spaceOrder.payments.monthly.subTotal | currency: "JPY"
            }}</strong>
          </p>
        </div>
        <div class="grid grid-cols-2 mb-2">
          <p class="text-black45">Tax</p>
          <p class="text-right">
            <strong>{{
              spaceOrder.payments.monthly.tax | currency: "JPY"
            }}</strong>
          </p>
        </div>
        <div
          class="
            grid grid-cols-2
            mb-2
            py-2
            border-t border-dotted border-black15
          "
        >
          <p class="text-black45">Total</p>
          <p class="text-right">
            <strong>{{
              spaceOrder.payments.monthly.total | currency: "JPY"
            }}</strong>
          </p>
        </div>
      </div>
      <!-- end of monthly payment -->
      <!-- Buttons -->
      <div class="order-4 flex flex-col-reverse xl:flex-row">
        <button
          class="
            grow
            mr-0
            xl:mr-3
            flex
            xl:inline-flex
            items-center
            justify-center
            py-3
            xl:py-1
            border border-black15
            text-black
            bg-white
            rounded
          "
        >
          <span>Close</span>
        </button>
        <button
          class="
            grow
            mb-3
            xl:mb-0
            flex
            xl:inline-flex
            items-center
            justify-center
            py-3
            xl:py-1
            border border-main
            text-white
            bg-main
            rounded
          "
        >
          <span>Make Order</span>
        </button>
      </div>
      <!-- end of buttons -->
      <!-- Policy -->
      <div class="order-last text-black45 w-[336px] py-4">
        <p class="text-[13px] leading-[22px]">
          By clicking the "Order" button, you are ordering the product after
          agreeing to the terms of use of Optimizer.co.jp,
          <a [routerLink]="['/home']" class="text-main hover:underline"
            >the privacy policy</a
          >
          and
          <a [routerLink]="['/home']" class="text-main hover:underline"
            >other terms and conditions</a
          >
          of sale described on this site. For prices, please see the product
          details page and here.
        </p>
      </div>
      <!-- end of policy -->
    </div>
    <!-- end of right -->
  </div>
  <!-- end of space order -->
</div>
