<layout-setting [route]="'/member/setting/roles'">
  <div class="w-full rounded-[4px] p-[16px] bg-white xl:min-w-[750px]">
    <!-- Title & invite -->
    <div class="flex justify-between items-center mb-4">
      <p class="uppercase text-black65"><strong>Space Users</strong></p>
      <button
        type="button"
        class="btn btn-main"
        (click)="toggleModal('invite')"
      >
        <div class="svg-wrapper w-[16px] h-[16px] mr-2">
          <div class="svg svg-user-add-white w-[16px] h-[16px]"></div>
        </div>
        <p>Invite</p>
      </button>
    </div>
    <!-- end of title & invite -->

    <!-- Table -->
    <ng-template [ngIf]="loading == true">
      <div class="w-full h-[100px]">
        <partial-loading></partial-loading>
      </div>
    </ng-template>
    <ng-template [ngIf]="loading == false">
      <ng-template [ngIf]="users && users.length > 0">
        <table class="table w-full text-[13px] border border-black2">
          <thead>
            <tr>
              <th class="px-3 py-2 bg-grey text-black65 text-left">
                <p>Name</p>
              </th>
              <th class="px-2 py-2 bg-grey text-black65 text-left">
                <select
                  class="p-0 m-0 bg-transparent"
                  [(ngModel)]="role"
                  (change)="catchChangeRole()"
                >
                  <option value="">All Roles</option>
                  <option value="admin">Admin</option>
                  <option value="user">User</option>
                </select>
              </th>
              <th class="px-3 py-2 bg-grey text-black65 text-left">
                <p>Access</p>
              </th>
              <th class="px-3 py-2 bg-grey text-black65 text-left">
                <p>Date Joined</p>
              </th>
              <th class="px-2 py-2 bg-grey text-black65 text-left">
                <select
                  class="p-0 m-0 bg-transparent"
                  [(ngModel)]="status"
                  (change)="catchChangeStatus()"
                >
                  <option value="">All Statuses</option>
                  <option value="active">Active</option>
                  <option value="pending">Pending</option>
                  <option value="deleted">Deleted</option>
                </select>
              </th>
              <th class="px-3 py-2 bg-grey text-black65 text-left">
                <p>Action</p>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of users" class="border-b border-black2">
              <td class="px-3 py-2 text-left">
                <p>
                  <strong>{{ user.user.fullname }}</strong>
                </p>
                <p class="text-black65">{{ user.user.email }}</p>
              </td>
              <td class="px-3 py-2 text-left">
                <p class="text-main">{{ user.role.name }}</p>
              </td>
              <td class="px-3 py-2 text-left">
                <p>No data.</p>
              </td>
              <td class="px-3 py-2 text-left">
                <p>{{ user.created_at | date: "YYYY-MM-dd" }}</p>
              </td>
              <td class="px-3 py-2 text-left">
                <p class="text-main">{{ user.status.name }}</p>
              </td>
              <td class="px-3 py-2">
                <div class="flex justify-center items-center">
                  <div
                    class="
                      svg-wrapper
                      w-[24px]
                      h-[24px]
                      rounded
                      border border-black15
                    "
                    (click)="userDelete = user; toggleModal('delete')"
                  >
                    <div class="svg svg-trash w-[16px] h-[16px]"></div>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </ng-template>
      <ng-template [ngIf]="!users || users.length == 0">
        <p>There is no collaborators.</p>
      </ng-template>
    </ng-template>
    <!-- end of table -->
  </div>
</layout-setting>

<modal-invite-user
  [show]="modals.invite"
  (closed)="toggleModal('invite', $event)"
></modal-invite-user>

<modal-delete-user
  [show]="modals.delete"
  [collaborator]="userDelete"
  (closed)="toggleModal('delete', $event)"
>
</modal-delete-user>
