<div class="bg-black2 p-[48px] rounded-modal">
  <div class="flex flex-col">
    <!-- Title -->
    <p class="page-title mb-[20px] text-center">Product List</p>
    <!-- end of title -->

    <!-- Search & refresh -->
    <div class="grid grid-cols-1 lg:grid-cols-4 mb-[20px] gap-y-4">
      <div class="col-span-1"></div>
      <!-- Search -->
      <div class="col-span-2">
        <partial-search-with-category
          [categories]="categories"
          [key]="'id'"
          [label]="'name'"
        ></partial-search-with-category>
      </div>
      <!-- end of search -->
      <!-- Refresh -->
      <div class="col-span-1 px-4 text-center lg:text-left">
        <div
          class="
            inline-flex
            px-4
            py-1
            lg:py-0
            h-full
            justify-center
            items-center
            cursor-pointer
            bg-white
            rounded
            shadow-light
          "
        >
          <fa-icon [icon]="faRefresh"></fa-icon>
        </div>
      </div>
      <!-- end of refresh -->
    </div>
    <!-- end of search & refresh -->

    <!-- Product list -->
    <ng-template [ngIf]="loading == false">
      <div class="grow inline-flex justify-center items-center">
        <div *ngIf="products && products.length > 0; else noItem" class="grow">
          <partial-table-products
            [products]="products"
          ></partial-table-products>
        </div>
        <ng-template #noItem>
          <p>You have no product.</p>
        </ng-template>
      </div>
    </ng-template>
    <!-- end of product list -->

    <!-- Pagination -->
    <ng-template [ngIf]="loading == false">
      <partial-pagination
        [nav]="nav"
        (pageClicked)="searchProducts($event)"
      ></partial-pagination>
    </ng-template>
    <!-- end of pagination -->

    <!-- Loading -->
    <ng-template [ngIf]="loading == true">
      <div class="w-full h-[35vh]">
        <partial-loading></partial-loading>
      </div>
    </ng-template>
    <!-- end of loading -->
  </div>
</div>
