$svgUrl: '~src/assets/images/solids/svgs/'
$lock: $svgUrl + 'lock.svg'
$lock-color: $svgUrl + 'lock-color.svg'
$unlock: $svgUrl + 'unlock.svg'
$unlock-color: $svgUrl + 'unlock-color.svg'
$addCollaborator: $svgUrl + 'add-collaborator.svg'
$addCollaborator-color: $svgUrl + 'add-collaborator-color.svg'
$edit: $svgUrl + 'edit.svg'
$edit-color: $svgUrl + 'edit-color.svg'
$trash: $svgUrl + 'trash.svg'
$trash-color: $svgUrl + 'trash-color.svg'
$store: $svgUrl + 'store.svg'
$store-color: $svgUrl + 'store-color.svg'
$staple: $svgUrl + 'staple.svg'
$staple-color: $svgUrl + 'staple-color.svg'
$global: $svgUrl + 'global.svg'
$global-color: $svgUrl + 'global-color.svg'
$plan: $svgUrl + 'plan.svg'
$plan-color: $svgUrl + 'plan.svg'
$openApp: $svgUrl + 'open-app.svg'
$openApp-color: $svgUrl + 'open-app-color.svg'
$account: $svgUrl + 'personal-card.svg'
$account-color: $account
$manage: $svgUrl + 'manage.svg'
$manage-color: $manage
$billing: $svgUrl + 'receipt.svg'
$billing-color: $billing
$user-octagon: $svgUrl + 'user-octagon.svg'
$user-octagon-color: $user-octagon
$download: $svgUrl + 'download.svg'
$download-color: $svgUrl + 'download-color.svg'
.svg-wrapper
    display: inline-flex
    justify-content: center
    align-items: center
    cursor: pointer
    .svg
        background-repeat: no-repeat
        background-size: contain
    .svg-store
        background-image: url($store)
    .svg-lock
        background-image: url($lock)
    .svg-unlock
        background-image: url($unlock)
    .svg-edit
        background-image: url($edit)
    .svg-trash
        background-image: url($trash)
    .svg-add-collaborator
        background-image: url($addCollaborator)
    .svg-staple
        background-image: url($staple)
    .svg-global
        background-image: url($global)
    .svg-plan
        background-image: url($plan)
    .svg-open-app
        background-image: url($openApp)
    .svg-account
        background-image: url($account)
    .svg-manage
        background-image: url($manage)
    .svg-billing
        background-image: url($billing)
    .svg-user-octagon
        background-image: url($user-octagon)
    .svg-download
        background-image: url($download)
    &:hover
        .svg-store
            background-image: url($store-color)
        .svg-lock
            background-image: url($lock-color)
        .svg-unlock
            background-image: url($unlock-color)
        .svg-edit
            background-image: url($edit-color)
        .svg-trash
            background-image: url($trash-color)
        .svg-add-collaborator
            background-image: url($addCollaborator-color)
        .svg-staple
            background-image: url($staple-color)
        .svg-global
            background-image: url($global-color)
        .svg-plan
            background-image: url($plan-color)
        .svg-open-app
            background-image: url($openApp-color)
        .svg-account
            background-image: url($account-color)
        .svg-manage
            background-image: url($manage-color)
        .svg-billing
            background-image: url($billing-color)
        .svg-user-octagon
            background-image: url($user-octagon-color)
        .svg-download
            background-image: url($download-color)
