<layout-setting>
  <div
    class="
      grow
      md:max-w-[500px]
      lg:max-w-[740px]
      bg-white
      rounded-[4px]
      p-[16px]
    "
  >
    <!-- Basic info -->
    <div class="py-4 border-b border-grey">
      <!-- Title & edit -->
      <div class="flex items-center justify-between mb-2 text-black65">
        <p class="text-[16px] leading-[23px] tracking-wider uppercase mr-2">
          <strong>{{
            'pageMemberSettingProfile.texts.title-basic' | translate
          }}</strong>
        </p>

        <button
          *ngIf="basicInfo.edit == false"
          type="button"
          class="
            px-3
            py-1
            border border-black15
            bg-white
            text-black text-[14px]
            hover:text-white
            hover:bg-main
            rounded
          "
          (click)="toggleForm('basic')"
        >
          {{ 'buttons.edit' | translate }}
        </button>
      </div>
      <!-- end of title & edit -->
      <!-- Content & form -->
      <ng-template [ngIf]="basicInfo.loading == true">
        <div class="w-full h-[100px]">
          <partial-loading></partial-loading>
        </div>
      </ng-template>
      <ng-template [ngIf]="basicInfo.loading == false">
        <!-- Content -->
        <ng-template [ngIf]="basicInfo.edit == false">
          <div
            class="grid grid-cols-1 lg:grid-cols-2 gap-x-8 gap-y-4 break-all"
          >
            <div>
              <span class="text-black45">{{ 'pageMemberSettingProfile.labels.fullname' | translate }}: </span
              ><span>{{ user.fullname }}</span>
            </div>
            <div>
              <span class="text-black45">{{ 'pageMemberSettingProfile.labels.phone' | translate }}: </span
              ><span>{{ user.phone }}</span>
            </div>
            <div>
              <span class="text-black45">{{ 'pageMemberSettingProfile.labels.address' | translate }}: </span
              ><span>{{ user.address ? user.address : ('texts.no-data' | translate) }}</span>
            </div>
          </div>
        </ng-template>
        <!-- end of content -->
        <!-- Form -->
        <ng-template [ngIf]="basicInfo.edit == true">
          <form
            [formGroup]="form1"
            class="flex flex-col min-h-[200px]"
            (submit)="submitForm1()"
          >
            <div class="grow mb-8">
              <div class="grid grid-cols-1 lg:grid-cols-2 gap-x-8 gap-y-4">
                <!-- Full name -->
                <div class="form-group-col">
                  <label class="text-black65"
                    >{{ 'pageMemberSettingProfile.labels.fullname' | translate }} <span class="text-danger">*</span></label
                  >
                  <div
                    class="input-wrapper"
                    [class.input-invalid]="
                      fs.isControlInvalid(ctr1.fullname, basicInfo.submitted)
                    "
                  >
                    <input
                      type="text"
                      formControlName="fullname"
                      spellcheck="false"
                    />
                  </div>
                  <div
                    *ngIf="
                      fs.isControlInvalid(ctr1.fullname, basicInfo.submitted)
                    "
                    class="text-right"
                  >
                    <p
                      class="text-danger"
                      *ngIf="fs.isCtrHasError(ctr1.fullname, 'required')"
                    >
                      {{ 'pageMemberSettingProfile.errors.fullname-required' | translate }}
                    </p>
                  </div>
                </div>
                <!-- end of first name -->

                <!-- Phone number -->
                <div class="form-group-col">
                  <label class="text-black65"
                    >{{ 'pageMemberSettingProfile.labels.phone' | translate }} <span class="text-danger">*</span></label
                  >
                  <div
                    class="input-wrapper"
                    [class.input-invalid]="
                      fs.isControlInvalid(ctr1.phone, basicInfo.submitted)
                    "
                  >
                    <input
                      type="text"
                      formControlName="phone"
                      spellcheck="false"
                    />
                  </div>
                  <div
                    class="text-right"
                    *ngIf="fs.isControlInvalid(ctr1.phone, basicInfo.submitted)"
                  >
                    <p
                      class="text-danger"
                      *ngIf="fs.isCtrHasError(ctr1.phone, 'required')"
                    >
                      {{ 'pageMemberSettingProfile.errors.phone-required' | translate }}
                    </p>
                  </div>
                </div>
                <!-- end of phone number -->
                <!-- Address -->
                <div class="form-group-col">
                  <label class="text-black65">{{ 'pageMemberSettingProfile.labels.address' | translate }}</label>
                  <div class="input-wrapper">
                    <input
                      type="text"
                      formControlName="address"
                      spellcheck="false"
                    />
                  </div>
                </div>
                <!-- end of address -->
              </div>
            </div>
            <!-- Buttons -->
            <div
              class="
                flex flex-col
                lg:flex-row
                lg:justify-end
                justify-center
                items-center
              "
            >
              <button
                type="button"
                class="btn btn-white lg:mb-0 lg:mr-4 order-last lg:order-first"
                (click)="toggleForm('basic')"
              >
                {{ 'buttons.cancel' | translate }}
              </button>
              <button type="submit" class="btn btn-main mb-3 lg:mb-0">
                {{ 'buttons.save-changes' | translate }}
              </button>
            </div>
            <!-- end of buttons -->
          </form>
        </ng-template>
        <!-- end of form -->
      </ng-template>
      <!-- end of content & form -->
    </div>
    <!-- end of basic info -->
    <!-- Login info -->
    <div class="py-4">
      <!-- Title & edit -->
      <div class="flex items-center justify-between mb-2 text-black65">
        <p class="text-[16px] leading-[23px] tracking-wider uppercase mr-2">
          <strong>{{
            'pageMemberSettingProfile.texts.title-login' | translate
          }}</strong>
        </p>
        <button
          *ngIf="loginInfo.edit == false"
          type="button"
          class="
            px-3
            py-1
            border border-black15
            bg-white
            text-black text-[14px]
            hover:text-white
            hover:bg-main
            rounded
          "
          (click)="toggleForm('login')"
        >
          {{ 'buttons.edit' | translate }}
        </button>
      </div>
      <!-- end of title & edit -->
      <!-- Content & form-->
      <ng-template [ngIf]="loginInfo.loading == true">
        <div class="w-full h-[100px]">
          <partial-loading></partial-loading>
        </div>
      </ng-template>
      <ng-template [ngIf]="loginInfo.loading == false">
        <!-- Content -->
        <ng-template [ngIf]="loginInfo.edit == false">
          <div
            class="grid grid-cols-1 lg:grid-cols-2 gap-x-8 gap-y-4 break-all"
          >
            <div>
              <span class="text-black45">Email: </span
              ><span>{{ user.email }}</span>
            </div>
            <div>
              <span class="text-black45">{{ 'pageMemberSettingProfile.labels.password' | translate }}: </span><span>******</span>
            </div>
          </div>
        </ng-template>
        <!-- end of content -->
        <!-- Form -->
        <ng-template [ngIf]="loginInfo.edit == true">
          <form
            [formGroup]="form2"
            class="flex flex-col min-h-[200px]"
            (submit)="submitForm2()"
          >
            <div class="grow mb-8">
              <div class="grid grid-cols-1 lg:grid-cols-2 gap-x-8 gap-y-4">
                <!-- Email -->
                <div class="form-group-col">
                  <label class="text-black65"
                    >Email <span class="text-danger">*</span>
                  </label>
                  <div>
                    {{ ctr2.email.value }}
                  </div>
                </div>
                <!-- end of email -->
                <!-- Current password -->
                <div class="form-group-col">
                  <label class="text-black65">
                    {{ 'pageMemberSettingProfile.labels.current-password' | translate }}
                    <span class="text-danger">*</span>
                  </label>
                  <div
                    class="input-wrapper"
                    [class.input-invalid]="
                      fs.isControlInvalid(
                        ctr2.currentPassword,
                        loginInfo.submitted
                      )
                    "
                  >
                    <input
                      [type]="
                        loginInfo.shows.currentPassword == true
                          ? 'text'
                          : 'password'
                      "
                      formControlName="currentPassword"
                      spellcheck="false"
                      autocomplete="new-password"
                    />
                    <fa-icon
                      class="
                        absolute
                        top-[3px]
                        right-[6px]
                        w-[20px]
                        cursor-pointer
                        text-black45
                      "
                      (click)="
                        loginInfo.shows.currentPassword =
                          !loginInfo.shows.currentPassword
                      "
                      [icon]="
                        loginInfo.shows.currentPassword == true
                          ? faEyeSlash
                          : faEye
                      "
                    ></fa-icon>
                  </div>
                  <div
                    class="text-right"
                    *ngIf="
                      fs.isControlInvalid(
                        ctr2.currentPassword,
                        loginInfo.submitted
                      )
                    "
                  >
                    <p
                      class="text-danger"
                      *ngIf="fs.isCtrHasError(ctr2.currentPassword, 'required')"
                    >
                      {{ 'pageMemberSettingProfile.errors.current-password-required' | translate }}
                    </p>
                  </div>
                </div>
                <!-- end of current password -->
                <!-- New password -->
                <div class="form-group-col">
                  <label class="text-black65">
                    {{ 'pageMemberSettingProfile.labels.new-password' | translate }} <span class="text-danger">*</span>
                  </label>
                  <div
                    class="input-wrapper"
                    [class.input-invalid]="
                      fs.isControlInvalid(ctr2.newPassword, loginInfo.submitted)
                    "
                  >
                    <input
                      [type]="
                        loginInfo.shows.newPassword == true
                          ? 'text'
                          : 'password'
                      "
                      formControlName="newPassword"
                      spellcheck="false"
                    />
                    <fa-icon
                      class="
                        absolute
                        top-[3px]
                        right-[6px]
                        w-[20px]
                        cursor-pointer
                        text-black45
                      "
                      (click)="
                        loginInfo.shows.newPassword =
                          !loginInfo.shows.newPassword
                      "
                      [icon]="
                        loginInfo.shows.newPassword == true ? faEyeSlash : faEye
                      "
                    ></fa-icon>
                  </div>
                  <div
                    *ngIf="
                      fs.isControlInvalid(ctr2.newPassword, loginInfo.submitted)
                    "
                  >
                    <p
                      class="text-danger"
                      *ngIf="fs.isCtrHasError(ctr2.newPassword, 'required')"
                    >
                      {{ 'pageMemberSettingProfile.errors.new-password-required' | translate }}
                    </p>
                  </div>
                </div>
                <!-- end of new password -->
                <!-- Confirm password -->
                <div class="form-group-col">
                  <label class="text-black65">
                    {{ 'pageMemberSettingProfile.labels.confirm-password' | translate }} <span class="text-danger">*</span>
                  </label>
                  <div
                    class="input-wrapper"
                    [class.input-invalid]="
                      fs.isControlInvalid(
                        ctr2.confirmPassword,
                        loginInfo.submitted
                      )
                    "
                  >
                    <input
                      [type]="
                        loginInfo.shows.confirmPassword == true
                          ? 'text'
                          : 'password'
                      "
                      formControlName="confirmPassword"
                      spellcheck="false"
                    />
                    <fa-icon
                      class="
                        absolute
                        top-[3px]
                        right-[6px]
                        w-[20px]
                        cursor-pointer
                        text-black45
                      "
                      (click)="
                        loginInfo.shows.confirmPassword =
                          !loginInfo.shows.confirmPassword
                      "
                      [icon]="
                        loginInfo.shows.confirmPassword == true
                          ? faEyeSlash
                          : faEye
                      "
                    ></fa-icon>
                  </div>
                  <ng-template
                    [ngIf]="
                      fs.isControlInvalid(
                        ctr2.confirmPassword,
                        loginInfo.submitted
                      )
                    "
                  >
                    <p
                      class="text-danger"
                      *ngIf="fs.isCtrHasError(ctr2.confirmPassword, 'required')"
                    >
                      {{ 'pageMemberSettingProfile.errors.confirm-password-required' | translate }}
                    </p>
                    <p
                      class="text-danger"
                      *ngIf="fs.isCtrHasError(ctr2.confirmPassword, 'matched')"
                    >
                      {{ 'pageMemberSettingProfile.errors.confirm-password-matched' | translate }}
                    </p>
                  </ng-template>
                </div>
                <!-- end of confirm password -->
              </div>
            </div>
            <!-- Buttons -->
            <div
              class="
                flex flex-col
                lg:flex-row
                lg:justify-end
                justify-center
                items-center
              "
            >
              <button
                type="button"
                class="btn btn-white lg:mb-0 lg:mr-4 order-last lg:order-first"
                (click)="toggleForm('login')"
              >
                {{ 'buttons.cancel' | translate }}
              </button>
              <button type="submit" class="btn btn-main mb-3 lg:mb-0">
                {{ 'buttons.save-changes' | translate }}
              </button>
            </div>
            <!-- end of buttons -->
          </form>
        </ng-template>
        <!-- end of form -->
      </ng-template>
      <!-- end of content & form -->
    </div>
    <!-- end of login info -->
  </div>
</layout-setting>

<modal-popup [show]="popup.show" [content]="popup" (closed)="popup.show = false"></modal-popup>