<layout-setting [route]="'/member/setting/billing'">
  <!-- Content mode -->
  <ng-template [ngIf]="editMode == false">
    <div class="grow flex flex-col lg:flex-row">
      <!-- Account & Payment -->
      <div
        class="
          grow
          flex flex-col
          mb-4
          mr-0
          lg:mr-4
          lg:mb-0
          lg:max-w-[500px]
          xl:min-w-[500px]
          lg:h-[600px]
        "
      >
        <!-- Account -->
        <div class="bg-white rounded-[4px] p-[16px] mb-4 grow">
          <!-- Subscription -->
          <div class="pb-4 mb-4 border-b border-black15">
            <!-- Title -->
            <div class="flex items-center justify-between mb-4 text-black65">
              <p
                class="text-[16px] leading-[23px] tracking-wider uppercase mr-2"
              >
                <strong>Subscription</strong>
              </p>
              <button
                *ngIf="subscriptionInfo.data"
                type="button"
                class="btn btn-white"
                (click)="toggleEdit('sub')"
              >
                Change Plan
              </button>
              <button
                *ngIf="!subscriptionInfo.data"
                type="button"
                class="btn btn-main"
                (click)="toggleEdit('sub')"
              >
                Purchase New Plan
              </button>
            </div>
            <!-- end of title -->
            <!-- Content -->
            <div *ngIf="subscriptionInfo.loading == false; else subLoading">
              <div *ngIf="subscriptionInfo.data; else noPlan">
                <span class="text-black65">Your plan: </span
                ><span>{{ subscriptionInfo.data.plan.title }}</span>
              </div>
              <ng-template #noPlan>
                <p>You did not purchase any plan yet.</p>
              </ng-template>
            </div>
            <ng-template #subLoading>
              <div class="w-full h-[100px]">
                <partial-loading></partial-loading>
              </div>
            </ng-template>
            <!-- end of content -->
          </div>
          <!-- end of subscription -->
          <!-- Address -->
          <div>
            <!-- Title -->
            <div class="flex items-center justify-between mb-4 text-black65">
              <p
                class="text-[16px] leading-[23px] tracking-wider uppercase mr-2"
              >
                <strong>Addresses</strong>
              </p>
              <button
                *ngIf="addressInfo.data.billing || addressInfo.data.service"
                type="button"
                class="btn btn-white"
                (click)="toggleEdit('address')"
              >
                Edit Addresses
              </button>
              <button
                *ngIf="!addressInfo.data.billing && !addressInfo.data.service"
                type="button"
                class="btn btn-main"
                (click)="toggleEdit('address')"
              >
                Setup Addresses
              </button>
            </div>
            <!-- end of title -->
            <!-- Content -->
            <div class="grid grid-cols-1 lg:grid-cols-2 gap-4">
              <!-- Billing address -->
              <div>
                <p class="text-black45"><strong>Billing Address</strong></p>
                <div
                  *ngIf="
                    addressInfo.loading.billing == false;
                    else billingLoading
                  "
                >
                  <div *ngIf="addressInfo.data.billing; else noBilling">
                    <p>
                      <span>{{ addressInfo.data.billing.street }}</span>
                      <span *ngIf="addressInfo.data.billing.state"
                        >, {{ addressInfo.data.billing.state }}</span
                      >
                      <span *ngIf="addressInfo.data.billing.unit"
                        >, {{ addressInfo.data.billing.unit }}</span
                      >
                      <span>, {{ addressInfo.data.billing.city }}</span>
                      <span>, {{ addressInfo.data.billing.country }}.</span>
                    </p>
                    <p>
                      Postal Code: {{ addressInfo.data.billing.postalCode }}
                    </p>
                  </div>
                  <ng-template #noBilling>
                    <p>No billing address data.</p>
                  </ng-template>
                </div>
                <ng-template #billingLoading>
                  <div class="w-full h-[100px]">
                    <partial-loading></partial-loading>
                  </div>
                </ng-template>
              </div>
              <!-- end of billing address -->
              <!-- Service address -->
              <div>
                <p class="text-black45"><strong>Service Address</strong></p>
                <div
                  *ngIf="
                    addressInfo.loading.service == false;
                    else serviceLoading
                  "
                >
                  <div *ngIf="addressInfo.data.service; else noService">
                    <p>
                      <span>{{ addressInfo.data.service.street }}</span>
                      <span *ngIf="addressInfo.data.service.state"
                        >, {{ addressInfo.data.service.state }}</span
                      >
                      <span *ngIf="addressInfo.data.service.unit"
                        >, {{ addressInfo.data.service.unit }}</span
                      >
                      <span>, {{ addressInfo.data.service.city }}</span>
                      <span>, {{ addressInfo.data.service.country }}.</span>
                    </p>
                    <p>
                      Postal Code: {{ addressInfo.data.service.postalCode }}
                    </p>
                  </div>
                  <ng-template #noService>
                    <p>No service address data.</p>
                  </ng-template>
                </div>
                <ng-template #serviceLoading>
                  <div class="w-full h-[100px]">
                    <partial-loading></partial-loading>
                  </div>
                </ng-template>
              </div>
              <!-- end of service address -->
            </div>
            <!-- end of content -->
          </div>
          <!-- end of address -->
        </div>
        <!-- end of account -->
        <!-- Payment -->
        <div class="bg-white rounded-[4px] p-[16px]">
          <!-- Title -->
          <div class="flex items-center justify-between mb-8 text-black65">
            <p class="text-[16px] leading-[23px] tracking-wider uppercase mr-2">
              <strong>Payment</strong>
            </p>
            <button
              *ngIf="paymentInfo.data"
              type="button"
              class="btn btn-white"
              (click)="toggleEdit('payment')"
            >
              Edit Payment
            </button>
            <button
              *ngIf="!paymentInfo.data"
              type="button"
              class="btn btn-main"
              (click)="toggleEdit('payment')"
            >
              Setup Payment
            </button>
          </div>
          <!-- end of title -->
          <!-- Content -->
          <div class="flex justify-center">
            <partial-credit-card
              *ngIf="paymentInfo.data; else noPayment"
              [card]="paymentInfo.data"
            ></partial-credit-card>
            <ng-template #noPayment>
              <p>No payment data.</p>
            </ng-template>
          </div>
          <!-- end of content -->
        </div>
        <!-- end of payment -->
      </div>
      <!-- end of account & payment  -->
      <!-- Invoices -->
      <div
        class="
          bg-white
          rounded-[4px]
          p-[16px]
          min-w-[200px]
          h-auto
          lg:h-[568px]
          overflow-hidden
        "
      >
        <!-- Title -->
        <div
          class="
            flex
            items-center
            justify-between
            text-black65
            pb-4
            border-b border-black15
          "
        >
          <p class="text-[16px] leading-[23px] tracking-wider uppercase mr-2">
            <strong>Invoices</strong>
          </p>
        </div>
        <!-- end of title -->
        <!-- List -->
        <div
          class="
            max-h-[350px]
            lg:max-h-[530px]
            overflow-y-scroll
            list
            scrollbar-small
          "
        >
          <ng-template [ngIf]="invoiceInfo.loading == true">
            <div class="w-full h-[100px]">
              <partial-loading></partial-loading>
            </div>
          </ng-template>
          <ng-template [ngIf]="invoiceInfo.loading == false">
            <ng-container
              *ngIf="
                invoiceInfo.data && invoiceInfo.data.length > 0;
                else noInvoice
              "
            >
              <div
                *ngFor="let invoice of invoiceInfo.data"
                class="flex justify-between items-center py-2"
              >
                <div>
                  <p class="text-black65">
                    {{ invoice.name }}
                  </p>
                  <p class="text-black45">
                    <span>{{ invoice.created_at | date: "yyyy-MM-dd" }}</span>
                  </p>
                </div>
                <div>
                  <div class="svg-wrapper w-[20px] h-[20px]">
                    <div class="svg svg-download w-[18px] h-[18px]"></div>
                  </div>
                </div>
              </div>
            </ng-container>
            <ng-template #noInvoice>
              <p>You have no invoice yet.</p>
            </ng-template>
          </ng-template>
        </div>
        <!-- end of list -->
      </div>
      <!-- end of invoices -->
    </div>
  </ng-template>
  <!-- end of content mode -->
  <!-- Edit mode -->
  <ng-template [ngIf]="editMode == true">
    <div
      class="bg-white rounded-[4px] p-[16px] grow lg:min-w-[500px] xl:w-[714px]"
    >
      <!-- Title -->
      <div class="flex items-center justify-between mb-4 text-black65">
        <p class="text-[16px] leading-[23px] tracking-wider uppercase mr-2">
          <strong>{{ editTitle }}</strong>
        </p>
        <button
          *ngIf="subscriptionInfo.edit == true"
          type="button"
          class="btn btn-white"
          (click)="toggleEdit('sub')"
        >
          Back
        </button>
        <button
          *ngIf="addressInfo.edit == true"
          type="button"
          class="btn btn-white"
          (click)="toggleEdit('address')"
        >
          Back
        </button>
        <button
          *ngIf="paymentInfo.edit == true"
          type="button"
          class="btn btn-white"
          (click)="toggleEdit('payment')"
        >
          Back
        </button>
      </div>
      <!-- end of title -->
      <!-- Subscription -->
      <ng-template [ngIf]="subscriptionInfo.edit == true">
        <partial-list-plans
          [plans]="subscriptionInfo.selects.plans"
          [userPlan]="subscriptionInfo.data.plan"
          (selected)="submitForm('sub', $event)"
        ></partial-list-plans>
      </ng-template>
      <!-- end of subscription -->
      <!-- Address -->
      <ng-template [ngIf]="addressInfo.edit == true">
        <!-- Billing address -->
        <div class="mb-4">
          <!-- Title -->
          <p class="text-black65 mb-2"><strong>Billing Address</strong></p>
          <!-- end of title -->
          <!-- Form -->
          <form [formGroup]="form('bill')" (submit)="submitForm('bill')">
            <!-- Inputs -->
            <div class="grid grid-cols-1 lg:grid-cols-2 gap-x-8 gap-y-4 mb-4">
              <div>
                <!-- Country -->
                <div class="mb-2">
                  <div class="form-group-inline">
                    <label>Country <span class="text-danger">*</span></label>
                    <div
                      class="input-wrapper"
                      [class.input-invalid]="
                        fs.isControlInvalid(
                          ctr('bill').country,
                          addressInfo.submits.billing
                        )
                      "
                    >
                      <select formControlName="country">
                        <option value="" disabled selected hidden>
                          Choose Country
                        </option>
                        <option
                          *ngFor="let country of addressInfo.selects.countries"
                          [value]="country.name.common"
                        >
                          {{ country.name.common }}
                        </option>
                      </select>
                    </div>
                  </div>
                  <ng-template
                    [ngIf]="
                      fs.isControlInvalid(
                        ctr('bill').country,
                        addressInfo.submits.billing
                      )
                    "
                  >
                    <div class="text-right text-danger text-[13px]">
                      <p
                        *ngIf="
                          fs.isCtrHasError(ctr('bill').country, 'required')
                        "
                      >
                        {{ addressInfo.messages.country.required }}
                      </p>
                    </div>
                  </ng-template>
                </div>
                <!-- end of country -->
                <!-- City -->
                <div class="mb-2">
                  <div class="form-group-inline">
                    <label>City <span class="text-danger">*</span></label>
                    <div
                      class="input-wrapper"
                      [class.input-invalid]="
                        fs.isControlInvalid(
                          ctr('bill').city,
                          addressInfo.submits.billing
                        )
                      "
                    >
                      <input
                        type="text"
                        formControlName="city"
                        spellcheck="false"
                        placeholder="City"
                      />
                    </div>
                  </div>
                  <ng-template
                    [ngIf]="
                      fs.isControlInvalid(
                        ctr('bill').city,
                        addressInfo.submits.billing
                      )
                    "
                  >
                    <div class="text-danger text-right text-[13px]">
                      <p *ngIf="fs.isCtrHasError(ctr('bill').city, 'required')">
                        {{ addressInfo.messages.city.required }}
                      </p>
                    </div>
                  </ng-template>
                </div>
                <!-- end of city -->
                <!-- Unit -->
                <div class="mb-2">
                  <div class="form-group-inline">
                    <label>Suite/Unit </label>
                    <div class="input-wrapper">
                      <input
                        type="text"
                        formControlName="unit"
                        spellcheck="false"
                        placeholder="Suite/Unit"
                      />
                    </div>
                  </div>
                </div>
                <!-- end of unit -->
              </div>
              <div>
                <!-- State -->
                <div class="mb-2">
                  <div class="form-group-inline">
                    <label>State</label>
                    <div class="input-wrapper">
                      <input
                        type="text"
                        formControlName="state"
                        spellcheck="false"
                        placeholder="State"
                      />
                    </div>
                  </div>
                </div>
                <!-- end of state -->
                <!-- Street -->
                <div class="mb-2">
                  <div class="form-group-inline">
                    <label>Street <span class="text-danger">*</span></label>
                    <div
                      class="input-wrapper"
                      [class.input-invalid]="
                        fs.isControlInvalid(
                          ctr('bill').street,
                          addressInfo.submits.billing
                        )
                      "
                    >
                      <input
                        type="text"
                        formControlName="street"
                        spellcheck="false"
                        placeholder="Street"
                      />
                    </div>
                  </div>
                  <ng-template
                    [ngIf]="
                      fs.isControlInvalid(
                        ctr('bill').street,
                        addressInfo.submits.billing
                      )
                    "
                  >
                    <div class="text-danger text-right text-[13px]">
                      <p
                        *ngIf="fs.isCtrHasError(ctr('bill').street, 'required')"
                      >
                        {{ addressInfo.messages.street.required }}
                      </p>
                    </div>
                  </ng-template>
                </div>
                <!-- end of street -->
                <!-- Postal code -->
                <div class="mb-2">
                  <div class="form-group-inline mb-2">
                    <label
                      >Postal Code <span class="text-danger">*</span></label
                    >
                    <div
                      class="input-wrapper"
                      [class.input-invalid]="
                        fs.isControlInvalid(
                          ctr('bill').postalCode,
                          addressInfo.submits.billing
                        )
                      "
                    >
                      <input
                        type="text"
                        formControlName="postalCode"
                        spellcheck="false"
                        placeholder="Postal Code"
                      />
                    </div>
                  </div>
                  <ng-template
                    [ngIf]="
                      fs.isControlInvalid(
                        ctr('bill').postalCode,
                        addressInfo.submits.billing
                      )
                    "
                  >
                    <div class="text-danger text-right text-[13px]">
                      <p
                        *ngIf="
                          fs.isCtrHasError(ctr('bill').postalCode, 'required')
                        "
                      >
                        {{ addressInfo.messages.postalCode.required }}
                      </p>
                    </div>
                  </ng-template>
                </div>
                <!-- end of postal code -->
              </div>
            </div>
            <!-- end of inputs -->
            <!-- Buttons -->
            <div class="text-right">
              <button type="submit" class="btn btn-main">
                {{ addressInfo.data.billing ? "Save Changes" : "Complete" }}
              </button>
            </div>
            <!-- end of buttons -->
          </form>
          <!-- end of form -->
        </div>
        <!-- end of billing address -->
        <!-- Service address -->
        <div class="mb-4">
          <!-- Title -->
          <p class="text-black65 mb-2"><strong>Service Address</strong></p>
          <!-- end of title -->
          <!-- Form -->
          <form [formGroup]="form('service')" (submit)="submitForm('service')">
            <!-- Inputs -->
            <div class="grid grid-cols-1 lg:grid-cols-2 gap-x-8 gap-y-4 mb-4">
              <div>
                <!-- Country -->
                <div class="mb-2">
                  <div class="form-group-inline">
                    <label>Country <span class="text-danger">*</span></label>
                    <div
                      class="input-wrapper"
                      [class.input-invalid]="
                        fs.isControlInvalid(
                          ctr('service').country,
                          addressInfo.submits.service
                        )
                      "
                    >
                      <select formControlName="country">
                        <option value="" disabled selected hidden>
                          Choose Country
                        </option>
                        <option
                          *ngFor="let country of addressInfo.selects.countries"
                          [value]="country.name.common"
                        >
                          {{ country.name.common }}
                        </option>
                      </select>
                    </div>
                  </div>
                  <ng-template
                    [ngIf]="
                      fs.isControlInvalid(
                        ctr('service').country,
                        addressInfo.submits.service
                      )
                    "
                  >
                    <div class="text-right text-danger text-[13px]">
                      <p
                        *ngIf="
                          fs.isCtrHasError(ctr('service').country, 'required')
                        "
                      >
                        {{ addressInfo.messages.country.required }}
                      </p>
                    </div>
                  </ng-template>
                </div>
                <!-- end of country -->
                <!-- City -->
                <div class="mb-2">
                  <div class="form-group-inline">
                    <label>City <span class="text-danger">*</span></label>
                    <div
                      class="input-wrapper"
                      [class.input-invalid]="
                        fs.isControlInvalid(
                          ctr('service').city,
                          addressInfo.submits.service
                        )
                      "
                    >
                      <input
                        type="text"
                        formControlName="city"
                        spellcheck="false"
                        placeholder="City"
                      />
                    </div>
                  </div>
                  <ng-template
                    [ngIf]="
                      fs.isControlInvalid(
                        ctr('service').city,
                        addressInfo.submits.service
                      )
                    "
                  >
                    <div class="text-danger text-right text-[13px]">
                      <p
                        *ngIf="
                          fs.isCtrHasError(ctr('service').city, 'required')
                        "
                      >
                        {{ addressInfo.messages.city.required }}
                      </p>
                    </div>
                  </ng-template>
                </div>
                <!-- end of city -->
                <!-- Unit -->
                <div class="mb-2">
                  <div class="form-group-inline">
                    <label>Suite/Unit </label>
                    <div class="input-wrapper">
                      <input
                        type="text"
                        formControlName="unit"
                        spellcheck="false"
                        placeholder="Suite/Unit"
                      />
                    </div>
                  </div>
                </div>
                <!-- end of unit -->
              </div>
              <div>
                <!-- State -->
                <div class="mb-2">
                  <div class="form-group-inline">
                    <label>State</label>
                    <div class="input-wrapper">
                      <input
                        type="text"
                        formControlName="state"
                        spellcheck="false"
                        placeholder="State"
                      />
                    </div>
                  </div>
                </div>
                <!-- end of state -->
                <!-- Street -->
                <div class="mb-2">
                  <div class="form-group-inline">
                    <label>Street <span class="text-danger">*</span></label>
                    <div
                      class="input-wrapper"
                      [class.input-invalid]="
                        fs.isControlInvalid(
                          ctr('service').street,
                          addressInfo.submits.service
                        )
                      "
                    >
                      <input
                        type="text"
                        formControlName="street"
                        spellcheck="false"
                        placeholder="Street"
                      />
                    </div>
                  </div>
                  <ng-template
                    [ngIf]="
                      fs.isControlInvalid(
                        ctr('service').street,
                        addressInfo.submits.service
                      )
                    "
                  >
                    <div class="text-danger text-right text-[13px]">
                      <p
                        *ngIf="
                          fs.isCtrHasError(ctr('service').street, 'required')
                        "
                      >
                        {{ addressInfo.messages.street.required }}
                      </p>
                    </div>
                  </ng-template>
                </div>
                <!-- end of street -->
                <!-- Postal code -->
                <div class="mb-2">
                  <div class="form-group-inline mb-2">
                    <label
                      >Postal Code <span class="text-danger">*</span></label
                    >
                    <div
                      class="input-wrapper"
                      [class.input-invalid]="
                        fs.isControlInvalid(
                          ctr('service').postalCode,
                          addressInfo.submits.service
                        )
                      "
                    >
                      <input
                        type="text"
                        formControlName="postalCode"
                        spellcheck="false"
                        placeholder="Postal Code"
                      />
                    </div>
                  </div>
                  <ng-template
                    [ngIf]="
                      fs.isControlInvalid(
                        ctr('service').postalCode,
                        addressInfo.submits.service
                      )
                    "
                  >
                    <div class="text-danger text-right text-[13px]">
                      <p
                        *ngIf="
                          fs.isCtrHasError(
                            ctr('service').postalCode,
                            'required'
                          )
                        "
                      >
                        {{ addressInfo.messages.postalCode.required }}
                      </p>
                    </div>
                  </ng-template>
                </div>
                <!-- end of postal code -->
              </div>
            </div>
            <!-- end of inputs -->
            <!-- Buttons -->
            <div class="text-right">
              <button type="submit" class="btn btn-main">
                {{ addressInfo.data.service ? "Save Changes" : "Complete" }}
              </button>
            </div>
            <!-- end of buttons -->
          </form>
          <!-- end of form -->
        </div>
        <!-- end of service address -->
      </ng-template>
      <!-- end of address -->
      <!-- Payment -->
      <ng-template [ngIf]="paymentInfo.edit == true">
        <!-- Form -->
        <form [formGroup]="form('payment')" (submit)="submitForm('payment')">
          <!-- Inputs -->
          <div class="grid grid-cols-1 lg:grid-cols-2 gap-x-8 gap-y-4 mb-4">
            <!-- Holder -->
            <div>
              <div class="form-group-inline">
                <label>Holder <span class="text-danger">*</span></label>
                <div
                  class="input-wrapper"
                  [class.input-invalid]="
                    fs.isControlInvalid(
                      ctr('payment').holder,
                      paymentInfo.submitted
                    )
                  "
                >
                  <input type="text" formControlName="holder" />
                </div>
              </div>
              <ng-template
                [ngIf]="
                  fs.isControlInvalid(
                    ctr('payment').holder,
                    paymentInfo.submitted
                  )
                "
              >
                <div class="text-danger text-right text-[13px]">
                  <p
                    *ngIf="fs.isCtrHasError(ctr('payment').holder, 'required')"
                  >
                    {{ paymentInfo.messages.holder.required }}
                  </p>
                </div>
              </ng-template>
            </div>
            <!-- end of holder -->
            <!-- Type -->
            <div>
              <div class="form-group-inline">
                <label>Type <span class="text-danger">*</span></label>
                <div
                  class="input-wrapper"
                  [class.input-invalid]="
                    fs.isControlInvalid(
                      ctr('payment').type,
                      paymentInfo.submitted
                    )
                  "
                >
                  <select formControlName="type">
                    <option value="" disabled selected hidden>
                      Select Type
                    </option>
                    <option
                      *ngFor="let type of paymentInfo.selects.types"
                      [value]="type.value"
                    >
                      {{ type.name }}
                    </option>
                  </select>
                </div>
              </div>
              <ng-template
                [ngIf]="
                  fs.isControlInvalid(
                    ctr('payment').type,
                    paymentInfo.submitted
                  )
                "
              >
                <div class="text-danger text-right text-[13px]">
                  <p *ngIf="fs.isCtrHasError(ctr('payment').type, 'required')">
                    {{ paymentInfo.messages.type.required }}
                  </p>
                </div>
              </ng-template>
            </div>
            <!-- end of type -->
            <!-- Number -->
            <div>
              <div class="form-group-inline">
                <label>Number <span class="text-danger">*</span></label>
                <div
                  class="input-wrapper"
                  [class.input-invalid]="
                    fs.isControlInvalid(
                      ctr('payment').number,
                      paymentInfo.submitted
                    )
                  "
                >
                  <input
                    [type]="
                      paymentInfo.shows.number == true ? 'text' : 'password'
                    "
                    formControlName="number"
                  />
                  <div
                    class="svg-wrapper text-black65"
                    (click)="
                      paymentInfo.shows.number = !paymentInfo.shows.number
                    "
                  >
                    <fa-icon
                      [icon]="
                        paymentInfo.shows.number == true ? faEyeSlash : faEye
                      "
                    ></fa-icon>
                  </div>
                </div>
              </div>
              <ng-template
                [ngIf]="
                  fs.isControlInvalid(
                    ctr('payment').number,
                    paymentInfo.submitted
                  )
                "
              >
                <div class="text-danger text-right text-[13px]">
                  <p
                    *ngIf="fs.isCtrHasError(ctr('payment').number, 'required')"
                  >
                    {{ paymentInfo.messages.number.required }}
                  </p>
                </div>
              </ng-template>
            </div>
            <!-- end of number -->
            <!-- CVC -->
            <div>
              <div class="form-group-inline">
                <label>CVC <span class="text-danger">*</span></label>
                <div
                  class="input-wrapper"
                  [class.input-invalid]="
                    fs.isControlInvalid(
                      ctr('payment').cvc,
                      paymentInfo.submitted
                    )
                  "
                >
                  <input
                    [type]="paymentInfo.shows.cvc == true ? 'text' : 'password'"
                    formControlName="cvc"
                  />
                  <div
                    class="svg-wrapper text-black65"
                    (click)="paymentInfo.shows.cvc = !paymentInfo.shows.cvc"
                  >
                    <fa-icon
                      [icon]="
                        paymentInfo.shows.cvc == true ? faEyeSlash : faEye
                      "
                    ></fa-icon>
                  </div>
                </div>
              </div>
              <ng-template
                [ngIf]="
                  fs.isControlInvalid(ctr('payment').cvc, paymentInfo.submitted)
                "
              >
                <div class="text-danger text-right text-[13px]">
                  <p *ngIf="fs.isCtrHasError(ctr('payment').cvc, 'required')">
                    {{ paymentInfo.messages.cvc.required }}
                  </p>
                </div>
              </ng-template>
            </div>
            <!-- end of cvc -->
            <!-- Exp month -->
            <div>
              <div class="form-group-inline">
                <label>Expire Month <span class="text-danger">*</span></label>
                <div
                  class="input-wrapper"
                  [class.input-invalid]="
                    fs.isControlInvalid(
                      ctr('payment').expMonth,
                      paymentInfo.submitted
                    )
                  "
                >
                  <select formControlName="expMonth">
                    <option value="" selected disabled hidden>
                      Select Month
                    </option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                  </select>
                </div>
              </div>
              <ng-template
                [ngIf]="
                  fs.isControlInvalid(
                    ctr('payment').expMonth,
                    paymentInfo.submitted
                  )
                "
              >
                <div class="text-danger text-right text-[13px]">
                  <p
                    *ngIf="
                      fs.isCtrHasError(ctr('payment').expMonth, 'required')
                    "
                  >
                    {{ paymentInfo.messages.expMonth.required }}
                  </p>
                </div>
              </ng-template>
            </div>
            <!-- end of exp month -->
            <!-- Exp year -->
            <div>
              <div class="form-group-inline">
                <label>Expire Year <span class="text-danger">*</span></label>
                <div
                  class="input-wrapper"
                  [class.input-invalid]="
                    fs.isControlInvalid(
                      ctr('payment').expYear,
                      paymentInfo.submitted
                    )
                  "
                >
                  <select formControlName="expYear">
                    <option value="" selected disabled hidden>
                      Select Year
                    </option>
                    <option
                      *ngFor="let year of paymentInfo.selects.years"
                      [value]="year"
                    >
                      {{ year }}
                    </option>
                  </select>
                </div>
              </div>
              <ng-template
                [ngIf]="
                  fs.isControlInvalid(
                    ctr('payment').expYear,
                    paymentInfo.submitted
                  )
                "
              >
                <div class="text-danger text-right text-[13px]">
                  <p
                    *ngIf="fs.isCtrHasError(ctr('payment').expYear, 'required')"
                  >
                    {{ paymentInfo.messages.expYear.required }}
                  </p>
                </div>
              </ng-template>
            </div>
            <!-- end of exp year -->
          </div>
          <!-- end of inputs -->
          <!-- Buttons -->
          <div class="text-right">
            <button type="submit" class="btn btn-main">
              {{ paymentInfo.data ? "Save Changes" : "Complete" }}
            </button>
          </div>
          <!-- end of buttons -->
        </form>
        <!-- end of form -->
      </ng-template>
      <!-- end of payment -->
    </div>
  </ng-template>
  <!-- end of edit mode -->

  <!-- Popup -->
  <modal-popup
    [content]="this.popup"
    [show]="this.popup.show"
    (closed)="this.popup.show = false"
  ></modal-popup>
  <!-- end of popup-->
</layout-setting>
