<div
  class="
    border-t border-black15
    py-4
    flex flex-col
    lg:flex-row
    justify-center
    items-center
  "
>
  <!-- Image & Info -->
  <div class="grow flex lg:inline-flex flex-col lg:flex-row items-center">
    <img [src]="space.thumbnail" class="w-[160px]" />
    <div class="px-4 py-2 lg:py-0">
      <p class="uppercase tracking-wider">
        <strong>{{ space.title }}</strong>
      </p>
      <p class="text-black45">Updated by: {{ space.author }}</p>
    </div>
  </div>
  <!-- end of image & info -->
  <!-- Actions -->
  <div
    class="
      flex
      w-full
      lg:w-[20%]
      lg:inline-flex
      justify-center
      lg:justify-end
      items-center
      pt-4
      lg:pt-0
    "
  >
    <div class="svg-wrapper w-[24px] h-[24px] mr-8">
      <div class="svg svg-open-app w-[24px] h-[24px]"></div>
    </div>
    <div class="svg-wrapper w-[24px] h-[24px]" (click)="toggleModal()">
      <div class="svg svg-lock w-[24px] h-[24px]"></div>
    </div>
  </div>
  <!-- end of actions -->
</div>

<!-- Modal make private -->
<ng-template [ngIf]="modal == true">
  <modal-make-private
    [space]="space"
    (closed)="toggleModal()"
  ></modal-make-private>
</ng-template>
<!-- end of modal make private -->
