<div class="w-full h-[800px] overflow-y-auto list">
  <ng-container *ngIf="spaces && spaces.length > 0; else noSpace">
    <div
      class="py-8 px-9 border-t border-black15 space"
      *ngFor="let space of spaces"
    >
      <partial-item-space-large
        [space]="space"
        [collaborators]="collaborators"
      ></partial-item-space-large>
    </div>
  </ng-container>
  <ng-template #noSpace>
    <div class="text-center">
      <p>{{ "pageMemberHome.texts.no-space" | translate }}</p>
    </div>
  </ng-template>
</div>
