<div
  class="flex w-[400px] md:w-[600px] lg:w-[800px]"
  (mousedown)="$event.preventDefault()"
>
  <!-- Prev -->
  <div
    class="
      inline-flex
      justify-center
      items-center
      shrink-0
      w-[48px]
      cursor-pointer
      bg-white
      rounded-[3px]
      border border-black15
    "
    (click)="prev()"
  >
    <fa-icon [icon]="faPrev"></fa-icon>
  </div>
  <!-- end of prev -->
  <!-- Slider -->

  <div
    *ngIf="items && items.length > 0; else noItem"
    class="overflow-x-hidden cursor-grab slider-wrapper"
  >
    <drag-scroll #slider [scrollbar-hidden]="true">
      <div
        *ngFor="let item of items"
        drag-scroll-item
        class="
          item-wrapper
          box-border
          w-[100%]
          md:w-[50%]
          lg:w-1/3
          px-[5%]
          md:px-[2.5%]
          lg:px-[1.67%]
          py-0
        "
        (click)="selectSpace(item)"
      >
        <div
          class="p-[30px] rounded-modal bg-white item border-2 cursor-pointer"
          [class.border-main]="
            selected &&
            selected.width == item.width &&
            selected.length == item.length
          "
        >
          <div class="text-center">
            <img [src]="item.thumbnail" class="inline-block" />
          </div>

          <div class="title mb-2">
            <p>
              <strong>{{ item.width }}m x {{ item.length }}m</strong>
            </p>
            <p>
              <strong>{{ item.width * item.length }}m<sup>2</sup></strong>
            </p>
          </div>

          <div [innerHTML]="item.detail" class="text-black45"></div>
        </div>
      </div>
    </drag-scroll>
  </div>

  <ng-template #noItem>
    <p>There is no sample size.</p>
  </ng-template>
  <!-- end of slider -->
  <!-- Next -->
  <div
    class="
      inline-flex
      justify-center
      items-center
      shrink-0
      w-[48px]
      cursor-pointer
      bg-white
      rounded-[3px]
      border border-black15
    "
    (click)="next()"
  >
    <fa-icon [icon]="faNext"></fa-icon>
  </div>
  <!-- end of next -->
</div>
