<div
  class="
    fixed
    left-0
    right-0
    px-page_px_sm
    md:px-page_px_md
    lg:page_px_lg
    z-topHeaderHome
    bg-blacklight
    text-white
    flex
    justify-between
    items-center
  "
>
  <!-- Logo & nav -->
  <div class="inline-flex items-center">
    <!-- Logo -->
    <a [routerLink]="['/home']">
      <img [src]="logo" class="lg:pr-8" />
    </a>
    <!-- end of logo -->
    <!-- Nav -->
    <nav>
      <a
        *ngFor="let link of nav"
        [routerLink]="['/member/' + link.route]"
        class="inline-block"
      >
        <div class="svg-wrapper px-8 py-4">
          <div class="w-[24px] h-[24px] svg" [class]="'svg-' + link.svg"></div>
        </div>
      </a>
    </nav>
    <!-- end of nav -->
  </div>
  <!-- end of logo & nav -->
  <!-- Multi language & user -->
  <div class="inline-flex items-center">
    <!-- Multi language -->
    <div
      class="relative cursor-pointer"
      (mouseover)="showLanguages = true"
      (mouseleave)="showLanguages = false"
    >
      <img [src]="iconLang" class="w-[30px] h-[22px] py-[12px]" />
      <ng-template [ngIf]="showLanguages == true">
        <fixed-item-multi-languages
          [attributes]="fixedLangs"
        ></fixed-item-multi-languages>
      </ng-template>
    </div>
    <!-- end of multi language -->
    <!-- User -->
    <ng-template [ngIf]="user">
      <div
        class="relative cursor-pointer hover:text-mainLight"
        (mouseover)="showFixed = true"
        (mouseleave)="showFixed = false"
      >
        <div class="h-[48px] inline-flex items-center">
          <p class="px-4">{{ user.fullname }}</p>
          <fa-icon [icon]="faCaretDown"></fa-icon>
        </div>
        <ng-template [ngIf]="showFixed">
          <fixed-item-user
            [user]="user"
            [attributes]="fixedUser"
          ></fixed-item-user>
        </ng-template>
      </div>
    </ng-template>
    <!-- end of user -->
  </div>
  <!-- end of multi language & user -->
</div>
<div class="lg:mb-[48px]"></div>
