<div
  class="
    fixed
    left-0
    right-0
    px-page_px_sm
    md:px-page_px_md
    lg:page_px_lg
    z-topHeaderHome
    bg-blacklight
    text-white
    flex
    justify-between
    items-center
  "
>
  <!-- Logo & nav -->
  <div class="inline-flex items-center">
    <!-- Logo -->
    <a [routerLink]="['/home']">
      <img [src]="logo" class="lg:pr-8 lg:border-r border-white" />
    </a>
    <!-- end of logo -->
    <!-- Nav -->
    <nav>
      <a
        *ngFor="let link of nav"
        [routerLink]="['/member/' + link.route]"
        class="inline-block"
      >
        <div class="svg-wrapper px-8 py-4">
          <div class="w-[24px] h-[24px] svg" [class]="'svg-' + link.svg"></div>
        </div>
      </a>
    </nav>
    <!-- end of nav -->
  </div>
  <!-- end of logo & nav -->
  <!-- User -->
  <ng-template [ngIf]="user">
    <div
      class="relative cursor-pointer hover:text-mainLight"
      (mouseover)="showFixed = true"
      (mouseleave)="showFixed = false"
    >
      <div class="h-[48px] inline-flex items-center">
        <fa-icon [icon]="faUser"></fa-icon>
        <p class="px-4">{{ user.fullname }}</p>
        <fa-icon [icon]="faCaretDown"></fa-icon>
      </div>
      <ng-template [ngIf]="showFixed">
        <fixed-item-user
          [user]="user"
          [attributes]="fixedUser"
        ></fixed-item-user>
      </ng-template>
    </div>
  </ng-template>
  <!-- end of user -->
</div>
<div class="lg:mb-[48px]"></div>
