<modal-base (closed)="close()">
  <div class="flex flex-col p-[48px] bg-white rounded-modal">
    <!-- Title -->
    <div class="text-center mb-4">
      <p class="modal-title">Edit Space</p>
    </div>
    <!-- end of title -->
    <!-- Form -->

    <form
      class="grow flex flex-col"
      (submit)="submitForm()"
      [formGroup]="editForm"
    >
      <!-- Inputs && image-->
      <div class="grow flex flex-col lg:flex-row mb-4">
        <!-- Inputs -->
        <div class="pr-4 mb-4 lg:mb-0">
          <!-- Name -->
          <div class="mb-4">
            <div class="form-group-inline">
              <label class="text-right"
                ><strong
                  >Space Name <span class="text-danger">*</span></strong
                ></label
              >
              <div
                class="input-wrapper shrink-0 grow-0 w-[240px]"
                [class.input-invalid]="fs.isControlInvalid(ctr.name, submitted)"
              >
                <input type="text" formControlName="name" spellcheck="false" />
              </div>
            </div>
            <ng-template [ngIf]="fs.isControlInvalid(ctr.name, submitted)">
              <div class="text-right">
                <span
                  class="text-danger"
                  *ngIf="fs.isCtrHasError(ctr.name, 'required')"
                  >Space's name cannot be empty.</span
                >
              </div>
            </ng-template>
          </div>
          <!-- end of name -->
          <!-- Image -->
          <!-- 
          <div class="mb-4">
            <div class="form-group-inline">
              <label class="text-right"><strong>Image </strong></label>
              <div class="input-wrapper shrink-0 grow-0 w-[240px]">
                <input type="file" formControlName="image" spellcheck="false" />
                <div
                  class="
                    ml-2
                    pl-2
                    border-l border-black15
                    svg-wrapper
                    w-[20px]
                    h-[20px]
                  "
                >
                  <div class="svg svg-staple w-[18px] h-[18px]"></div>
                </div>
              </div>
            </div>
          </div>
          -->
          <!-- end of image -->
          <!-- Japanese name -->
          <div class="mb-4">
            <div class="form-group-inline">
              <label class="text-right"><strong>Japanese Name</strong></label>
              <div class="input-wrapper shrink-0 grow-0 w-[240px]">
                <input
                  type="text"
                  formControlName="nameja"
                  spellcheck="false"
                />
              </div>
            </div>
          </div>
          <!-- end of japanese name -->
          <!-- Service type -->
          <div class="mb-4">
            <div class="form-group-inline">
              <label class="text-right"
                ><strong
                  >Service Type <span class="text-danger">*</span></strong
                ></label
              >
              <div
                class="input-wrapper shrink-0 grow-0 w-[240px]"
                [class.input-invalid]="
                  fs.isControlInvalid(ctr.service, submitted)
                "
              >
                <select formControlName="service">
                  <option *ngFor="let type of serviceTypes" [value]="type.name">
                    {{ type.name }}
                  </option>
                </select>
              </div>
            </div>
            <ng-template [ngIf]="fs.isControlInvalid(ctr.service, submitted)">
              <div class="text-right">
                <span
                  class="text-danger"
                  *ngIf="fs.isCtrHasError(ctr.service, 'required')"
                  >Please select service type of space.</span
                >
              </div>
            </ng-template>
          </div>
          <!-- end of service type -->
          <!-- Description -->
          <div class="mb-4">
            <div class="form-group-inline">
              <label class="text-right"><strong>Description</strong></label>
              <div class="input-wrapper shrink-0 grow-0 w-[240px]">
                <textarea
                  formControlName="description"
                  spellcheck="false"
                ></textarea>
              </div>
            </div>
          </div>
          <!-- end of description -->
        </div>
        <!-- end of inputs -->
        <!-- Image -->
        <div class="text-right w-full lg:w-[240px]">
          <img [src]="image" [alt]="space.title" class="inline-block" />
        </div>
        <!-- end of image -->
      </div>
      <!-- end of inputs && image -->
      <!-- Buttons -->
      <div class="text-center">
        <button type="button" class="btn btn-white mr-4" (click)="close()" c>
          Cancel
        </button>
        <button type="submit" class="btn btn-main" (click)="submitForm()">
          Save Change
        </button>
      </div>
      <!-- end of buttons -->
    </form>

    <!-- end of form -->
  </div>
</modal-base>

<!-- Message popup -->
<modal-popup
  [show]="popup.show"
  [content]="popup"
  (closed)="popup.show = false"
></modal-popup>
<!-- end of message popup -->
