<ng-template [ngIf]="show == true">
  <modal-base (closed)="close()">
    <div class="rounded-modal bg-white p-[16px] w-[320px]">
      <!-- Title -->
      <div class="text-center">
        <div class="text-[22px] uppercase">
          <strong>{{ 'modalDeleteUser.texts.title' | translate }}</strong>
        </div>
      </div>
      <!-- end of title -->
      <!-- Content -->
      <div class="text-black65 py-4 text-center">
        <p>
          {{ 'modalDeleteUser.texts.description' | translate }}
        </p>
      </div>
      <!-- end of content -->
      <!-- Buttons -->
      <div class="flex justify-center items-center">
        <button type="button" class="btn btn-main mr-2" (click)="close()">
          {{ 'buttons.cancel' | translate }}
        </button>
        <button type="button" class="btn btn-white" (click)="confirm()">
          {{ 'buttons.confirm' | translate }}
        </button>
      </div>
      <!-- end of buttons -->
    </div>
  </modal-base>
</ng-template>
<modal-popup
  [content]="popup"
  [show]="popup.show"
  (closed)="popup.show = false"
></modal-popup>
