<div class="w-full md:w-40per mx-auto">
  <!-- Step 1: Enter email -->
  <ng-template [ngIf]="step1.active == true">
    <form [formGroup]="step1.form" class="text-white" (submit)="submitStep1()">
      <!-- Title -->
      <div class="py-4 border-b border-greyDark text-center">
        <p class="text-xl font-semibold">
          {{ "pageForgotPassword.texts.title-forgot" | translate }}
        </p>
        <p>{{ "pageForgotPassword.texts.description" | translate }}</p>
      </div>
      <!-- end of title -->
      <!-- Inputs -->
      <div class="py-4">
        <!-- Email -->
        <div class="form-group">
          <label>Email <span class="text-danger">*</span></label>
          <div class="input-wrapper">
            <input
              type="email"
              formControlName="email"
              spellcheck="false"
              placeholder="email@domain.com"
              class="grow text-black"
              [class.input-invalid]="
                (ctr1.email.dirty || step1.submitted) && ctr1.email.invalid
              "
            />
          </div>
          <ng-template
            [ngIf]="(ctr1.email.dirty || step1.submitted) && ctr1.email.invalid"
          >
            <div class="text-right" t>
              <span
                *ngIf="ctr1.email.errors?.['required']"
                class="text-danger"
                >{{
                  "pageForgotPassword.errors.email-required" | translate
                }}</span
              >
              <span *ngIf="ctr1.email.errors?.['email']" class="text-danger">{{
                "pageForgotPassword.errors.email-invalid" | translate
              }}</span>
            </div>
          </ng-template>
        </div>
        <!-- end of email -->
      </div>
      <!-- end of inputs -->
      <!-- Navs -->
      <nav class="mb-8 flex flex-wrap items-center justify-end">
        <a [routerLink]="['/auth/login']" class="px-2 hover:text-main">{{
          "pageForgotPassword.texts.login" | translate
        }}</a>
        <!-- 
        <a [routerLink]="['/auth/register']" class="pl-2 hover:text-main"
          >Register</a
        >
        -->
      </nav>
      <!-- end of navs -->
      <!-- Submit button -->
      <div class="flex">
        <button
          type="submit"
          class="
            grow
            px-8
            py-4
            w-full
            text-white
            bg-main
            hover:bg-transparent
            hover:text-main
            border-main border
            rounded
          "
        >
          {{ "pageForgotPassword.buttons.send-code" | translate }}
        </button>
      </div>
      <!-- end of submit button -->
    </form>
  </ng-template>
  <!-- end of step 1: enter email -->

  <!-- Step 2: Reset password-->
  <ng-template [ngIf]="step2.active == true">
    <form [formGroup]="step2.form" class="text-white" (submit)="submitStep2()">
      <!-- Title -->
      <div class="py-4 border-b border-greyDark text-right">
        <p class="text-xl font-semibold">
          {{ "pageForgotPassword.texts.title-reset" | translate }}
        </p>
      </div>
      <!-- end of title -->
      <!-- Inputs -->
      <div class="py-4">
        <!-- Email -->
        <div class="form-group">
          <label>Email <span class="text-danger">*</span></label>
          <div class="input-wrapper">
            <p>{{ ctr2.email.value }}</p>
          </div>
        </div>
        <!-- end of email -->

        <!-- Reset code -->
        <div class="form-group">
          <label
            >{{ "pageForgotPassword.labels.reset-code" | translate }}
            <span class="text-danger">*</span></label
          >
          <div class="input-wrapper">
            <input
              type="text"
              formControlName="resetCode"
              spellcheck="false"
              class="grow text-black"
              autocomplete="false"
              [class.input-invalid]="
                (ctr2.resetCode.dirty || step2.submitted) &&
                ctr2.resetCode.invalid
              "
            />
          </div>
          <ng-template
            [ngIf]="
              (ctr2.resetCode.dirty || step2.submitted) &&
              ctr2.resetCode.invalid
            "
          >
            <span
              *ngIf="ctr2.resetCode.errors?.['required']"
              class="text-danger"
              >{{
                "pageForgotPassword.errors.reset-code-required" | translate
              }}</span
            >
          </ng-template>
        </div>
        <!-- end of reset code -->

        <!-- New password -->
        <div class="form-group">
          <label
            >{{ "pageForgotPassword.labels.new-password" | translate }}
            <span class="text-danger">*</span></label
          >
          <div class="input-wrapper">
            <input
              [type]="step2.show.newPassword ? 'text' : 'password'"
              formControlName="password"
              spellcheck="false"
              class="grow text-black"
              placeholder="******"
              [class.input-invalid]="
                (ctr2.password.dirty || step2.submitted) &&
                ctr2.password.invalid
              "
            />
            <button
              (click)="step2.show.newPassword = !step2.show.newPassword"
              type="button"
              class="p-4 hover:text-main"
            >
              <fa-icon
                [icon]="step2.show.newPassword ? faEyeSlash : faEye"
              ></fa-icon>
            </button>
          </div>
          <ng-template
            [ngIf]="
              (ctr2.password.dirty || step2.submitted) && ctr2.password.invalid
            "
          >
            <span
              *ngIf="ctr2.password.errors?.['required']"
              class="text-danger"
              >{{
                "pageForgotPassword.errors.new-password-required" | translate
              }}</span
            >
          </ng-template>
        </div>
        <!-- end of new password -->

        <!-- Confirm new password -->
        <div class="form-group">
          <label
            >{{ "pageForgotPassword.labels.confirm-password" | translate }}
            <span class="text-danger">*</span></label
          >
          <div class="input-wrapper">
            <input
              [type]="step2.show.confirmPassword ? 'text' : 'password'"
              formControlName="confirmPassword"
              spellcheck="false"
              class="grow text-black"
              placeholder="******"
              [class.input-invalid]="
                (ctr2.confirmPassword.dirty || step2.submitted) &&
                ctr2.confirmPassword.invalid
              "
            />
            <button
              (click)="step2.show.confirmPassword = !step2.show.confirmPassword"
              type="button"
              class="p-4 hover:text-main"
            >
              <fa-icon
                [icon]="step2.show.confirmPassword ? faEyeSlash : faEye"
              ></fa-icon>
            </button>
          </div>
          <ng-template
            [ngIf]="
              (ctr2.confirmPassword.dirty || step2.submitted) &&
              ctr2.confirmPassword.invalid
            "
          >
            <span
              *ngIf="ctr2.confirmPassword.errors?.['required']"
              class="text-danger"
              >{{
                "pageForgotPassword.errors.confirm-password-required"
                  | translate
              }}</span
            >
            <span
              *ngIf="ctr2.confirmPassword.errors?.['matched']"
              class="text-danger"
              >{{
                "pageForgotPassword.errors.confirm-password-matched" | translate
              }}</span
            >
          </ng-template>
        </div>
        <!-- end of confirm new password -->
      </div>
      <!-- end of inputs -->

      <!-- Submit button -->
      <div class="flex">
        <button
          type="submit"
          class="
            grow
            px-8
            py-4
            w-full
            text-white
            bg-main
            hover:bg-transparent
            hover:text-main
            border-main border
            rounded
          "
        >
          {{ "pageForgotPassword.buttons.reset-password" | translate }}
        </button>
      </div>
      <!-- end of submit button -->
    </form>
  </ng-template>
  <!-- end of step 2: reset password -->
</div>

<modal-popup [show]="popup.show" [content]="popup"></modal-popup>
