<modal-base [static]="false" (closed)="close()">
  <div class="rounded-modal bg-white p-[32px] flex flex-col w-[320px]">
    <!-- Title -->
    <div class="text-center">
      <p class="modal-title">Make Private</p>
    </div>
    <!-- end of title -->

    <!-- Content -->
    <div class="grow mb-4">
      <div class="text-center">
        <p class="uppercase">
          <strong>{{ space.title }}</strong>
        </p>
        <p>
          This space will only be available to you and your collaborators. Any
          links or embeded spaces will no longer work.
        </p>
      </div>
    </div>
    <!-- end of content -->

    <!-- Buttons -->
    <div class="text-center">
      <button type="button" class="btn btn-white mr-4" (click)="close()">
        Cancel
      </button>
      <button type="button" class="btn btn-main" (click)="close(true)">
        Confirm
      </button>
    </div>
    <!-- end of buttons -->
  </div>
</modal-base>
