<div class="w-full flex flex-col flex-wrap md:flex-row items-center">
  <!-- Thumbnail -->
  <a
    href="{{ spaceLink }}"
    target="_blank"
    class="
      grow
      justify-center
      items-center
      mr-0
      mb-4
      flex
      md:mr-6
      md:mb-0
      md:inline-flex
      md:grow-0
      md:w-itemSpaceWidthLg
    "
  >
    <img
      [src]="image"
      class="w-itemSpaceWidthLg h-itemSpaceHeightLg object-contain"
    />
  </a>
  <!-- end of thumbnail -->
  <!-- Info -->
  <div class="grow mr-0 mb-4 px-4 md:mb-0 md:mr-10 md:px-0">
    <a
      href="{{ spaceLink }}"
      target="_blank"
      class="text-xl hover:text-main uppercase font-semibold"
    >
      {{ space.name }}
    </a>

    <p class="text-greyDark">
      {{ "partialItemSpaceLarge.texts.updated-on" | translate }}
      : {{ space.modified | date: "yyyy.MM.dd"
      }}<!--  by
      {{ space.author }}-->
      | {{ "partialItemSpaceLarge.texts.status" | translate }}:
      <span class="capitalize">{{ space.status }}</span>
    </p>

    <p class="text-greyDark capitalize">
      {{ "partialItemSpaceLarge.texts.service-type" | translate }}:
      {{ space.service ? space.service : "Other" }}
       | {{ "partialItemSpaceLarge.texts.size" | translate }}:
      {{ space.width * space.length }}m<sup>2</sup>
      ({{ space.width }}mx{{ space.length }}m)
    </p>
  </div>
  <!-- end of info -->
  <!-- Actions -->
  <div class="grow inline-flex justify-end items-center">
    <!-- Download -->
    <div class="svg-wrapper w-[20px] h-[45px] mx-4 tooltip" (click)="downloadFile()">
      <div class="svg svg-download w-[20px] h-[20px]"></div>
      <span class="tooltiptext-left">{{
        "partialItemSpaceLarge.tooltips.download" | translate
      }}</span>
    </div>
    <!-- end of download -->

    <!-- Product -->
    <a
      [routerLink]="['/member/products']"
      class="svg-wrapper w-[45px] h-[45px] tooltip"
    >
      <div class="svg svg-store w-[20px] h-[20px]"></div>
      <span class="tooltiptext-top">{{
        "partialItemSpaceLarge.tooltips.products" | translate
      }}</span>
    </a>
    <!-- end of product -->

    <!-- Make private -->
    <ng-container *ngIf="space.paid == 'active'; else private">
      <div
        class="svg-wrapper w-[45px] h-[45px] tooltip"
      >
        <div class="svg svg-lock w-[20px] h-[20px]"></div>
        <span class="tooltiptext-top">{{
          "partialItemSpaceLarge.tooltips.private" | translate
        }}</span>
      </div>
    </ng-container>
    <!-- end of private -->

    <!-- Make public -->
    <ng-template #private>
      <div
        class="svg-wrapper w-[45px] h-[45px] tooltip"
        (click)="toggleModal('make-payment')"
      >
        <div class="svg svg-unlock w-[20px] h-[20px]"></div>
        <span class="tooltiptext-top">{{
          "partialItemSpaceLarge.tooltips.public" | translate
        }}</span>
      </div>
    </ng-template>
    <!-- end of make public -->

    <!-- Collaborators -->
    <div
      class="svg-wrapper w-[45px] h-[45px] tooltip"
      (click)="toggleModal('add-collaborator')"
    >
      <div class="svg svg-add-collaborator w-[20px] h-[20px]"></div>
      <span class="tooltiptext-top">{{
        "partialItemSpaceLarge.tooltips.user" | translate
      }}</span>
    </div>
    <!-- end of collaborators -->

    <!-- Edit -->
    <div
      class="svg-wrapper w-[45px] h-[45px] tooltip"
      (click)="toggleModal('edit')"
    >
      <div class="svg svg-edit w-[20px] h-[20px]"></div>
      <span class="tooltiptext-top">{{
        "partialItemSpaceLarge.tooltips.edit" | translate
      }}</span>
    </div>
    <!-- end of edit -->

    <!-- Delete -->
    <div
      class="svg-wrapper w-[45px] h-[45px] tooltip"
      (click)="toggleModal('delete')"
    >
      <div class="svg svg-trash w-[20px] h-[20px]"></div>
      <span class="tooltiptext-top">{{
        "partialItemSpaceLarge.tooltips.delete" | translate
      }}</span>
    </div>
    <!-- end of delete -->
  </div>
  <!-- end of actions -->
</div>

<!-- Modal Add Collaborator -->
<ng-template [ngIf]="modals.addCollaborator == true">
  <modal-add-collaborator
    [space]="space"
    [collaborators]="collaborators"
    [static]="false"
    (closed)="toggleModal('add-collaborator')"
  >
  </modal-add-collaborator>
</ng-template>
<!-- end of modal add collaborator -->

<!-- Modal Make Payment -->
<ng-template [ngIf]="modals.makePayment == true">
  <modal-pay-space [space]="space" (closed)="catchMakePayment($event)">
  </modal-pay-space>
</ng-template>
<!-- end of modal make payment -->

<!-- Modal edit space -->
<ng-template [ngIf]="modals.edit == true">
  <modal-edit-space
    (closed)="toggleModal('edit')"
    [space]="space"
  ></modal-edit-space>
</ng-template>
<!-- end of modal edit space -->

<!-- Modal Delete -->
<ng-template [ngIf]="modals.delete == true">
  <modal-delete-space [space]="space" (closed)="toggleModal('delete')">
  </modal-delete-space>
</ng-template>
<!-- end of modal delete -->
