<div
  class="
    inline-flex
    flex-col
    border-box
    bg-black2
    rounded-modal
    p-[48px]
    xl:min-w-[900px]
  "
>
  <!-- Title -->
  <div class="text-center mb-4">
    <p class="page-title">{{ "layoutSetting.texts.title" | translate }}</p>
  </div>
  <!-- end of title -->
  <!-- Content -->
  <div class="flex flex-col lg:flex-row">
    <!-- Sidebar -->
    <partial-sidebar-setting
      [route]="route"
      [user]="user"
    ></partial-sidebar-setting>
    <!-- end of sidebar -->
    <!-- Page content -->
    <ng-content></ng-content>
    <!-- end of page content -->
  </div>
  <!-- end of content -->
</div>
