<modal-base [static]="static">
  <div class="flex flex-col bg-black2 p-8 rounded-modal">
    <!-- Title -->
    <div class="text-center pb-3 mb-3 border-b border-black15">
      <p class="modal-title">{{ 'modalDeleteSpace.texts.title' | translate}}</p>
    </div>
    <!-- end of title -->

    <div class="mb-3 text-center">
      <p>{{ 'modalDeleteSpace.texts.really' | translate}}</p>
    </div>

    <!-- Buttons -->
    <div class="text-center">
      <button type="button" class="btn btn-white mr-4" (click)="close()">
        {{ 'buttons.cancel' | translate }}
      </button>
      <button type="button" class="btn btn-main" (click)="confirmDelete()">
         {{ 'modalDeleteSpace.buttons.confirm' | translate }}
      </button>
    </div>
    <!-- end of buttons -->
  </div>
</modal-base>

<modal-popup
  [show]="popup.show"
  [content]="popup"
  (closed)="popup.show = false"
></modal-popup>
