<div class="w-full flex">
  <!-- Prev -->
  <div
    class="
      inline-flex
      justify-center
      items-center
      shrink-0
      w-[48px]
      cursor-pointer
    "
    (click)="prev()"
  >
    <fa-icon [icon]="faPrev"></fa-icon>
  </div>
  <!-- end of prev -->
  <!-- Slider -->
  <drag-scroll #slider [scrollbar-hidden]="true">
    <img drag-scroll-item *ngFor="let item of items" [src]="item.img" />
  </drag-scroll>
  <!-- end of slider -->
  <!-- Next -->
  <div
    class="
      inline-flex
      justify-center
      items-center
      shrink-0
      w-[48px]
      cursor-pointer
    "
    (click)="next()"
  >
    <fa-icon [icon]="faNext"></fa-icon>
  </div>
  <!-- end of next -->
</div>
