<ng-template [ngIf]="show == true">
  <modal-base [position]="'center'" [static]="false" (closed)="close($event)">
    <div class="rounded-modal bg-white p-[16px] w-[300px]">
      <!-- Title and close -->
      <div
        class="
          text-black65
          flex
          justify-between
          items-center
          pb-2
          border-b border-black15
        "
      >
        <!-- Title -->
        <div class="uppercase"><strong>{{ 'modalPurchasePlan.texts.title' | translate }}</strong></div>
        <!-- end of title -->
        <!-- Close -->
        <fa-icon
          [icon]="faTimes"
          class="cursor-pointer"
          (click)="close()"
        ></fa-icon>
        <!-- end of close -->
      </div>
      <!-- end of title and close -->

      <!-- Content -->
      <div class="pt-2 pb-2 border-b border-black15">
        <!-- Plan -->
        <div class="mb-2">
          <!-- Title -->
          <div class="mb-1 text-main">
            <p>
              <strong>{{ plan.title }}</strong>
            </p>
          </div>
          <!-- end of title -->
          <!-- Description -->
          <div class="mb-1 text-black65">
            <p>
              {{ plan.description }}
            </p>
          </div>
          <!-- end of description -->
          <!-- Fees -->
          <div>
            <div class="flex justify-between items-center">
              <p>{{ 'modalPurchasePlan.texts.yearly-fee' | translate }}</p>
              <p>
                {{ plan.fees.year | currency: "JPY":"symbol-narrow":"1.2-2" }}
              </p>
            </div>
            <div
              *ngIf="plan.fees.month"
              class="flex justify-between items-center"
            >
              <p>{{ 'modalPurchasePlan.texts.monthly-fee' | translate }}</p>
              <p>
                {{ plan.fees.month | currency: "JPY":"symbol-narrow":"1.2-2" }}
              </p>
            </div>
          </div>
          <!-- end of fees -->
        </div>
        <!-- end of plan -->
        <!-- Payment method -->
        <div>
          <p class="text-main"><strong>{{ 'modalPurchasePlan.texts.payment-method' | translate}}</strong></p>
          <!-- Holder -->
          <p>{{ payment.holder }}</p>
          <!-- end of holder -->
          <!-- Last 4 -->
          <p>**** **** **** {{ payment.last4 }}</p>
          <!-- end of last 4 -->
          <!-- Type -->
          <ng-container [ngSwitch]="payment.type">
            <p *ngSwitchCase="'visa'">VISA</p>
            <p *ngSwitchCase="'master'">Master Card</p>
            <p *ngSwitchCase="'jcb'">JCB</p>
          </ng-container>
          <!-- end of type -->
        </div>
        <!-- end of payment method -->
      </div>
      <!-- end of content -->

      <!-- Note -->
      <div class="text-black65 pt-2 pb-4 italic text-[13px]">
        <p>
          {{ 'modalPurchasePlan.texts.description-1' | translate }}
        </p>
        <p>
          {{ 'modalPurchasePlan.texts.description-2' | translate }}
        </p>
      </div>
      <!-- end of note -->

      <!--- Buttons -->
      <div class="flex flex-col lg:flex-row justify-center items-center">
        <button
          type="button"
          class="btn btn-white mr-0 lg:mr-4"
          (click)="close()"
        >
          {{ 'buttons.cancel' | translate }}
        </button>
        <button
          type="button"
          class="btn btn-main order-first lg:order-last mb-2 lg:mb-0"
          (click)="close(true)"
        >
          {{ 'modalPurchasePlan.buttons.confirm' | translate }}
        </button>
      </div>
      <!-- end of buttons -->
    </div>
  </modal-base>
</ng-template>
