<div class="grid grid-cols-4 bg-[#f3f3f3]">
  <!-- Head -->
  <div class="p-4 text-center">
    <p>Product Image</p>
  </div>
  <div class="p-4 text-left">
    <p>Product Name</p>
  </div>
  <div class="p-4 text-center">
    <p>Category</p>
  </div>
  <div class="p-4 text-center">
    <p>Last Updated</p>
  </div>
  <!-- end of head -->
</div>

<div class="bg-white max-h-[500px] overflow-y-scroll list">
  <!-- List -->
  <ng-container *ngFor="let product of products">
    <div class="grid grid-cols-4 border-t border-black15">
      <div class="p-4 inline-flex justify-center">
        <img [src]="product.image" class="w-[80px] h-[100px]" />
      </div>
      <div class="p-4 inline-flex flex-col justify-start">
        <p class="mb-[10px] uppercase">
          <strong>{{ product.name }}</strong>
        </p>
        <!-- Detail -->
        <p class="mb-[10px]" *ngIf="product.description">
          {{ product.description }}
        </p>
        <p *ngIf="product.weight">{{ product.weight }}</p>
        <!-- end of detail-->
      </div>
      <div class="p-4 inline-flex justify-center">
        <p>{{ product.category_name }}</p>
      </div>
      <div class="p-4 inline-flex justify-center">
        <p *ngIf="product.updated_at">
          {{ product.updated_at | date: "yyyy-MM-dd" }}
        </p>
        <p *ngIf="!product.updated_at">No data</p>
      </div>
    </div>
  </ng-container>
  <!-- end of list -->
</div>
