$svgUrl: '~src/assets/images/solids/svgs/'
$lock: $svgUrl + 'lock.svg'
$lock-color: $svgUrl + 'lock-color.svg'
$unlock: $svgUrl + 'unlock.svg'
$unlock-color: $svgUrl + 'unlock-color.svg'
$addCollaborator: $svgUrl + 'add-collaborator.svg'
$addCollaborator-color: $svgUrl + 'add-collaborator-color.svg'
$edit: $svgUrl + 'edit.svg'
$edit-color: $svgUrl + 'edit-color.svg'
$trash: $svgUrl + 'trash.svg'
$trash-color: $svgUrl + 'trash-color.svg'
$store: $svgUrl + 'store.svg'
$store-color: $svgUrl + 'store-color.svg'
$staple: $svgUrl + 'staple.svg'
$staple-color: $svgUrl + 'staple-color.svg'
$global: $svgUrl + 'global.svg'
$global-color: $svgUrl + 'global-color.svg'
$plan: $svgUrl + 'plan.svg'
$plan-color: $svgUrl + 'plan.svg'
$openApp: $svgUrl + 'open-app.svg'
$openApp-color: $svgUrl + 'open-app-color.svg'
$account: $svgUrl + 'personal-card.svg'
$account-color: $account
$manage: $svgUrl + 'manage.svg'
$manage-color: $manage
$billing: $svgUrl + 'receipt.svg'
$billing-color: $billing
$user-octagon: $svgUrl + 'user-octagon.svg'
$user-octagon-color: $user-octagon
